.standings-container {
  max-width: 850px;
  margin: 5px 50px;
  display: inline-block;   
}

.standings-table td {
  color: white;
  font-family: inherit;
  font-size: 12px;
  padding: 3px 24px 3px 16px;
}

.standings-table th {
  color: white;
  font-family: inherit;
  font-size: 12px;
  padding: 3px 24px 3px 16px;
}

.standings-table th .th-content {
  display: flex;
  align-items: center;
}

.standings-logo {
  height: 20px;
  width: 20px;
}
