.pie-chart{
    height: 100px;
    width: 100px;
}

.start-page{
    display: flex;
    justify-items: flex-end;
}

.league-back-container:hover{
   
    opacity:0.7; 
    filter:alpha(opacity=70); /* browser fix*/
    -webkit-opacity:0.7; /*vendor prefixes for website browsers*/
    -moz-opacity:0.7; /* same as above, edited thankx to @ Daniel_Lisik  */
}

.league-back{
    width: 20vw;
    height: 85vh;
    display: inline-block;
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
   
}


.start-page a{
    background:  #100e17;
}

.standings-container {
    max-width: 650px;
    font-size: 10px;
    margin: 0;
    display: inline-block;
}

.standings-logo{
    height: 20px;
    width: 20px;
}

/*.league-scorers {

}*/